
<div class="about-section">
  <h1>About Us </h1>
  <p  >Laptophub is one of the most renowned names in the electronics and consumer durables space. Our omni-channel retail experience gives you the freedom to shop as per your convenience. You can shop at our expansive off-line electronics stores, or online, at our multi-brand website. With our online electronics store you can shop for over 3500+ products from the world’s top brands at the click of a few buttons. Our doorstep delivery feature ensures your shopping reaches you safely and swiftly. Deals, offers and discounts keep prices economical, while our easy EMI feature makes payment effortless.

    With the My LaptopHubLoyalty Programme, frequent shoppers can enjoy redeemable points, discounts, and lots more. Our VS+ Extended Warranty service offers many benefits for your device and you. These features, coupled with our prompt customer service makes shopping at Vijay Sales a gratifying experience..</p>
</div>

<h2 style="text-align:center">Our branches</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Pune </h2>
        <p class="title"> At Wakad</p>
        <p>VIJAY SALES, CTS No. 220/ 16 - 17, Patel Estate Road, Near Telephone Exchange & 24 Karat, Opposite Patel Industry, Pune - 400102</p>

        <p><button  class="button" [routerLink]="['/contactus']">Contact Us</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
    <div class="container">
        <h2>Thane</h2>
        <p class="title">At Manpada</p>
        <p> R Mall Near Patel Estate Road, M.G Road, Next To SindhuwadiCourt Naka,Thane (West), Thane, Maharashtra 400601
        <p><button class="button" [routerLink]="['/contactus']">Contact Us</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
       <div class="container">
        <h2>Mumbai</h2>
        <p class="title">At Bandra</p>
        <p>G-1, Megor Arcade, M.G Road, Next To Sindhuwadi, Near Satyam Shopping, Centre, Sindhu Wadi, Bandra East, Mumbai, Maharashtra 400077 .</p>

        <p><button class="button" [routerLink]="['/contactus']">Contact Us</button></p>
      </div>
    </div>
  </div>
</div>
